body {
    margin: 50px;
    text-align: center;
    background-color: whitesmoke;
}

h1 {
    /* text-align: center; */
    margin-top: 55px;
    margin-bottom: 20px;
    font-size: 35px;
    letter-spacing: 5px;
}

span {
    color: #17972c
}

.links-style {
    display: flex;
    flex-direction: row;
    gap: 30px;
    font-size: 1.1rem;
    padding: 20px 3px 20px 30px;
    background-color: #17972c;
}

.link-color-about {
    color: white;
    text-decoration: none;
}

.link-color-about:hover {
    color: rgba(255, 255, 255, 0.583);

}

.locations-grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
}

.location-name {
    margin-top: 30px;
    margin-bottom: 20px;
    font-size: 1.2rem;
}

.location-img {
    width: 300px;
    height: 300px;
    object-fit: cover;
}

.input-home {
    margin: 10px;
    padding: 2px;
    width: 300px;
    height: 25px
}

.card:hover {
    background: whitesmoke;
}

.card {
    margin: 20px;
    padding: 10px 0;
    box-shadow: 0 0 2px 2px rgba(0, 0, 0, .03);
    background: #FFF;
    border-radius: 10px;
}

button {
    background-color: #17972c;
    border: none;
    color: white;
    padding: 10px 22px;
    text-align: center;
    text-decoration: none;
    font-size: 16px;
    margin-bottom: 10px;
    border-radius: 20px;
    cursor: pointer;
}

button:hover {
    background-color: #62ba65;
    color: black;

}

/* MODAL */
.modal-content-fle {
    display: flex;
    flex-direction: column;
}

.modal-content {
    font-size: 1rem;
    font-weight: 600;
    padding: 1.75rem 3.5rem;
    margin: 5rem 5rem 5rem 5rem;
    color: #444;
}

.close-modal {
    position: absolute;
    top: 10px;
    right: 0;
    left: 10;
    margin-right: 10px;
    font-size: 1em;
    font-size: 1.2rem;
    color: #444;
    background-color: #FFF;
    border: none;
    cursor: pointer;
}

/* FORM */

.form {
    border-top: solid 1px rgb(213, 213, 213);
}

.form form {
    display: flex;
    justify-content: center;
    gap: 150px;
}

.form form section {
    /* display: flex;
    flex-direction: column; */
    padding: 0px;
    width: 35%;
    text-align: start;
}

.form form input {
    padding: 10px 20px;
    margin: 10px 0;
    font-size: 15px;
    border: solid 2px rgb(219, 219, 219);
    border-radius: 10px;
}

.form form label {
    margin: 2px 0;
}

.form form .photo-container img {
    width: 200px;
    height: 200px
}

.submit-form-section {
    display: flex;
    flex-direction: column;
    gap: 25px;
}

.info-card-img {
    width: 200px;
}

.info-card {
    display: flex;
    flex-direction: column;
    margin: 10px 10px 10px 10px;
    align-items: center;
    align-content: flex-start;
    margin: 20px;
    padding: 10px 20px 0 20px;
    box-shadow: 0 0 2px 2px rgba(0, 0, 0, .03);
    background: #FFF;
    border-radius: 10px;
}

.search-flex {
    display: flex;
    flex-direction: column;

}

.info-landing-flex {
    display: flex;
    flex-direction: row;
    gap: 50px;
    margin: 30PX 160px;
    justify-content: center;
    align-items: center;

}

/* PROFILE */

.bar-chart {
    display: flex;
    flex-direction: row;
    gap: 90px;
    margin-top: 90px;
    margin-bottom: 20px;
    margin-left: 160px;
    margin-right: 200px;
}

.profile-img {
    width: 300px;
    height: 300px;
}

.norequest-message {
    display: flex;
    flex-direction: row;
    gap: 30px;
    margin-top: 50px;
    margin-bottom: 20px;
    margin-left: 300px;
    margin-right: 200px;

}

/* MAP */

.leaflet-container {
    width: 100vw;
    height: 100vh;
}

.map-link {
    background-color: #17972c;
    border: none;
    color: white;
    padding: 8px 18px;
    text-align: center;
    text-decoration: none;
    font-size: 12px;
    margin-bottom: 20px;
    border-radius: 20px;
    cursor: pointer;

}

.map-link:hover {
    background-color: #62ba65;
    color: black;

}

/* MEDIA QUERIES */

@media (max-width:800px) {

    body {
        margin: 10px;
        text-align: center;
        background-color: whitesmoke;
    }

    h1 {
        margin-top: 25px;
        margin-bottom: 10px;
        font-size: 25px;
        letter-spacing: 3px;
    }

    .links-style {
        display: flex;
        flex-direction: row;
        gap: 10px;
        font-size: 0.7rem;
        padding: 10px 2px 10px 10px;
        background-color: #17972c;
    }

    .locations-grid {
        display: grid;
        grid-template-columns: repeat(1, 1fr);
    }

    .info-landing-flex {
        display: flex;
        flex-direction: column;
        gap: 10px;
        margin: 10PX 100px;
        justify-content: center;
        align-items: center;
    }

    .card {
        margin: 8px 22px;
        padding: 10px 0;
        box-shadow: 0 0 2px 2px rgba(0, 0, 0, .03);
        background: #FFF;
        border-radius: 10px;
    }

    .location-img {
        width: 200px;
        height: 200px;
        object-fit: cover;
    }

    /* MODAL */
    .modal-content-fle {
        display: flex;
        flex-direction: column;
    }

    .modal-content {
        font-size: 0.6rem;
        font-weight: 400;
        padding: 0.8rem 1.1rem;
        margin: 0.6rem;
        color: #444;
    }

    .close-modal {
        position: absolute;
        top: 5px;
        right: 0;
        left: 5;
        margin-right: 5px;
        font-size: 0.6em;
        font-size: 0.8rem;
        color: #444;
        background-color: #FFF;
        border: none;
        cursor: pointer;
    }

    /* FORM */

    .form {
        border-top: solid 1px rgb(213, 213, 213);
    }

    .form form {
        display: flex;
        justify-content: center;
        gap: 50px;
    }

    .form form section {
        padding: 0px;
        width: 35%;
        text-align: start;
    }

    .form form input {
        padding: 5px 5px;
        margin: 5px 0;
        font-size: 10px;
        border: solid 2px rgb(219, 219, 219);
        border-radius: 10px;
    }

    .form form label {
        margin: 1.3px 0;
    }

    .form form .photo-container img {
        width: 150px;
        height: 150px
    }

    /* PROFILE */

    .bar-chart {
        display: flex;
        flex-direction: column;
        gap: 10px;
        margin-top: 10px;
        margin-bottom: 10px;
        margin-left: 0px;
        margin-right: 10px;
    }

    .profile-img {
        width: 150px;
        height: 150px;
        display: none
    }

    .norequest-message {
        display: flex;
        flex-direction: column;
        gap: 30px;
        margin-top: 50px;
        margin-bottom: 20px;
        margin-left: 30px;
        margin-right: 30px;

    }



}